[submodule "roles/roles/dev-sec.ssh-hardening"]
	path = roles/roles/dev-sec.ssh-hardening
	url = git@github.com:dev-sec/ansible-ssh-hardening.git
[submodule "roles/dev-sec.ssh-hardening"]
	path = roles/dev-sec.ssh-hardening
	url = git@github.com:dev-sec/ansible-ssh-hardening.git
